LAZYLLM_QWEN_API_KEY=
LAZYLLM_QWEN_MODEL_NAME=qwen3-32b
LAZYLLM_DATA_PATH=/home/lianghao/github/LazyLLM/.data
UNIIN_APP_KEY=
UNIIN_APP_SECRET=

EMBED_MODEL_NAME=bge-large-zh-v1.5
EMBED_URL=http://10.119.101.20:9851/v1/embeddings
EMBED_API_KEY=

STDERR_LOG_LEVEL=INFO