STDERR_LOG_LEVEL=INFO
SYSTEM_PROXY=http://10.119.80.110:17890

LAZYLLM_QWEN_API_KEY=
LAZYLLM_QWEN_MODEL_NAME=qwen3-32b
LAZYLLM_DATA_PATH=/home/lianghao/github/LazyLLM/.data
UNIIN_APP_KEY=
UNIIN_APP_SECRET=
UNIIN_BASE_URL=http://132.96.7.234:30688

EMBED_MODEL_NAME=bge-large-zh-v1.5
EMBED_URL=http://10.119.101.20:9851/v1/embeddings
EMBED_API_KEY=

FIRECRAWL_URL=http://172.24.12.149:19860/
SEARXNG_URL=http://127.0.0.1:19863/

SEARCH_MAX_RESULTS=5
EXPAND_QUERY_COUNT=3

# mcp server使用
PORT=10001

# mcp client使用
LLM_ID=Qwen3-32B-Private@Uniin
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/
OPENAI_API_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/
OPENAI_API_KEY=

# mcp server使用
AGENT_SOURCE=uniin
AGENT_MODEL=Qwen3-235B-A22B-Private
AGENT_EN_MODEL=Qwen3-235B-A22B-Private
